<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 可以看到 thymeleaf 是通过在标签里添加额外属性来绑定动态数据的 -->
    <title th:text="${title}">Title</title>
    <!-- 在/resources/static/js目录下创建一个hello.js 用如下语法依赖即可
        <script type="text/javascript" th:src="@{/js/hello.js}"></script>-->
</head>
<body>
<h1 th:text="${desc}">描述</h1>
<h2>=====作者信息=====</h2>
<!--authorDetail  为entityBean 的 Name 第一个首字母要小写-->
<p th:text="${authorDetail?.name}">authorDetail.name</p>
<p th:text="${authorDetail?.age}">authorDetail.age</p>
<p th:text="${authorDetail?.email}">authorDetail.email</p>
</body>
<!--
模板热部署：
1.在 IntelliJ IDEA 中使用 thymeleaf 模板的时候，发现每次修改静态页面都需要重启才生效：
 方案：spring.thymeleaf.cache 属性设置成 false。在每次修改静态内容时按Ctrl+Shift+F9即可重新加载：即 ReBuild

2.修改默认favicon.ico 图标
描述：默认情况下使用springboot总能看到一片叶子，这是因为我们没配置自己的ico导致的，
方案：在src/main/static/目录下放置一张名为favicon.ico就可以了
-->

</html>